In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("final.csv")

In [3]:
df.head()

              DateTime        X1     X2      X3      X4             Y
0  2022-10-19 04:40:00  5.943333  17.72  0.1001  0.1690  388969.56675
1  2022-10-19 04:50:00  5.990000  17.68  0.1092  0.1872  405403.87750
2  2022-10-19 05:00:00  5.993333  17.66  0.1235  0.1014  411519.33750
3  2022-10-19 05:10:00  6.000000  17.68  0.0949  0.1690  413938.68550
4  2022-10-19 05:20:00  6.013333  17.68  0.1326  0.1300  422548.93750

In [5]:
df_res=df[2:].copy().reset_index(drop=True)

In [6]:
df_res.head()

              DateTime        X1     X2      X3      X4             Y
0  2022-10-19 05:00:00  5.993333  17.66  0.1235  0.1014  411519.33750
1  2022-10-19 05:10:00  6.000000  17.68  0.0949  0.1690  413938.68550
2  2022-10-19 05:20:00  6.013333  17.68  0.1326  0.1300  422548.93750
3  2022-10-19 05:30:00  6.050000  17.70  0.1092  0.1209  448022.96875
4  2022-10-19 05:40:00  6.130000  17.72  0.1001  0.1547  507134.78750

In [9]:
df_res['DateTime']=df_res['DateTime'].apply(lambda x:x[:-6])

In [13]:
cols=df.columns

In [14]:
cols

Index(['DateTime', 'X1', 'X2', 'X3', 'X4', 'Y'], dtype='object')

In [16]:
df_res.drop(columns=['X1', 'X2', 'X3', 'X4'],inplace=True)

In [17]:
df_res

            DateTime             Y
0      2022-10-19 05  411519.33750
1      2022-10-19 05  413938.68550
2      2022-10-19 05  422548.93750
3      2022-10-19 05  448022.96875
4      2022-10-19 05  507134.78750
...              ...           ...
10477  2022-12-30 23  311982.81625
10478  2022-12-30 23  306343.63350
10479  2022-12-30 23  309786.40425
10480  2022-12-30 23  305856.32800
10481  2022-12-30 23  300624.07300

[10482 rows x 2 columns]

In [21]:
res=df_res.groupby('DateTime').mean()

In [22]:
res

                           Y
DateTime
2022-10-19 05  454734.646042
2022-10-19 06  476404.672042
2022-10-19 07  455067.374458
2022-10-19 08  660535.617917
2022-10-19 09  616099.358250
...                      ...
2022-12-30 19  289853.275917
2022-12-30 20  297921.469750
2022-12-30 21  319264.385167
2022-12-30 22  318267.452042
2022-12-30 23  307089.362667

[1747 rows x 1 columns]

In [23]:
res.to_csv("final_hourly.csv")